*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/bk1.jpg);
    background-size: cover;
}

/* Header */
header{
    background-color:grey;
}
#logo{
    margin-left: 40px;
    width: 6em;
    height: 6em;
    object-fit: cover;
   
    border: 10px solid darkgray;
    border-radius: 45%;
   }
   .navigation{
    float:right;
    margin-top: -90px;
    margin-right: 40px;
}
.nameheader{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 40px;
    padding: 2px;
}
.navigation a{
    text-decoration: none;
    color: white;
   border: 1px solid white;
   padding:6px;
   margin-right: 7px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation a:hover{
    background-color: teal;
    color:black;
    transition: 0.5 ease-in-out;
}

/* About */
.about{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    float: left;
   border: 1;
    border-color: white;
}

/* Aside */
aside{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    float: left;
}

aside h3{
    margin-bottom: 15 px;
}

aside ul{
    padding: 5px;
}

aside li{
    padding: 2px;
    list-style-type: square;
}

/* Container */
.container {
    margin-top: 5%;
    margin-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container div{
    float:left;
    width: 20%;
    border: 2px solid white;
    height: 8em;
    background-color: honeydew;
    margin-left: 20px;
    padding: 10px;
}

.container h4 {
    text-align: center;
}

.container p {
    text-align: center;
    padding-top: 5px;
}

.container a {
    color: red;
    text-decoration: none;
}

/* Table */
table, th, td {
    border: 1px solid white;border-collapse: collapse;padding: 10px;
}

table a{
    color: white;
    text-decoration: none;
}

table a:hover{
    background-color: teal;
    color:black;
    transition: 0.5 ease-in-out;
}

/* Contact */
.contact_me{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;  
    overflow: hidden;  
    margin-top: 40px;
    margin-right: 100px;
    padding: 40px;  
    background: gray;  
    border-radius: 15px ;  
    float:right;   
}

.contact_me h3{
    text-align: center;
}

.contact_me label{
    color: #08ffd1;  
    font-size: 14px;  
    font-weight: bold;
}

.contact_me button{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: teal;  
  font-weight: bold;
}

.contact_me button:hover {
    cursor: pointer;
    background-color: teal;
    color: white;
    transition: 0.5 ease-in-out;
}

.textbx{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}

.contact_me textarea{
    width: 300px; 
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
}

.getintouch{
    margin-top: 2%;
    margin-left: 12%;
    float:left;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    height: 1.5em;
    margin-top: 52%;
    text-align: center;
}
